.feature-item {
  position: relative;
  padding-bottom: 2.5rem;
  /* background: rgb(21, 28, 43); */
  /* border-radius: 0.25rem;
  margin: 2rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear; */

  @mixin atSmall {
    padding-left: 50px;
  }

  &__image {
    display: inline;
  }

  &__icon {
    display: block;
    margin: 0 auto;

    @mixin atSmall {
      position: absolute;
      left: 0;
    }
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0.8rem;
    text-align: center;

    @mixin atSmall {
      text-align: center;
      margin-top: 1em;
      font-size: 1.875rem;
    }
  }

  p a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__code-link {
    color: $mainWhite;
    text-decoration: none;
  }
}
